<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <span>{{ 'app.hello' | translate }}</span>
  </h1>
</div>

<div class="links">
  <a routerLink="/">home - display eager loaded module (cool module)</a>
  <a routerLink="/sample">lazy loading module with assets (sample module)</a>
  <a routerLink="/fancy">lazy loading with i18n(fancy module)</a>
  <!--<a *ngFor="let menu of menus" [routerLink]="menu.link">{{menu.label}}</a>-->
  <br>
  <span>change language: <button (click)="changeLanguage()">{{lang}}</button></span>
</div>

<div class="content">
  <router-outlet></router-outlet>

</div>



